* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #2f2f2f;
  line-height: 1.6;
}

/* BOTÕES */
.btn-primary {
  background: #3a7d44;
  color: #fff;
  padding: 14px 52px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.btn-primary:hover {
  background: #2f6437;
}

.btn-outline {
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url("https://images.unsplash.com/photo-1611930022073-b7a4ba5fcccd") center/cover;
  color: #fff;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.hero-content {
  max-width: 600px;
  padding: 120px 60px;
}

.hero-content h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* BENEFÍCIOS */
.benefits {
  padding: 80px 60px;
  text-align: center;
}

.benefits h3 {
  font-size: 36px;
  margin-bottom: 40px;
}

.benefit-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #f7f7f7;
  padding: 30px;
  border-radius: 20px;
}

/* PRODUTO */
.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 80px 60px;
  gap: 40px;
}

.product-text {
  flex: 1;
}

.product-text h3 {
  font-size: 34px;
  margin-bottom: 20px;
}

.product-text ul {
  list-style: none;
  margin-top: 20px;
}

.product-text li {
  margin-bottom: 10px;
}

.product-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-placeholder {
  width: 320px;
  height: 420px;
  background: url("/images.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}


/* DEPOIMENTOS */
.testimonials {
  background: #f2f6f3;
  padding: 80px 60px;
  text-align: center;
}

.testimonial-cards {
  max-width: 800px;
  margin: auto;
}

blockquote {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
  border-radius: 50px;
  font-style: italic;
}

blockquote span {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

/* CTA */
.cta {
  background: #08130a;
  color: #fff;
  padding: 80px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.cta h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.large {
  font-size: 18px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #1f1f1f;
  color: #fff;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 36px;
  }

  .nav, .hero-content {
    padding: 30px;
  }

  .product {
    flex-direction: column;
  }
}
